{{!-- views/admin.hbs --}}
    <section id="admin" class="section admin-section">
        <header>
            <h1>Admin Panel</h1>
        </header>
        <h2>Users Management</h2>
        <article>
            <div class="user-list-container">
                <div class="user-titles">
                    <span class="user-title">#</span>
                    <span class="user-title">Full Name</span>
                    <span class="user-title">Username</span>
                    <span class="user-title">Email</span>
                    <span class="user-title">Discount Eligibility</span>
                    <span class="user-title">Discount Document</span>
                    <span class="user-title">Actions</span>
                </div>
                <ol class="user-list">
                    {{#each users}}
                    <li class="user-item">
                        <span class="user-index">{{inc @index}}</span>
                        <span class="user-detail full-name">{{this.fullName}}</span>
                        <span class="user-detail user-name">{{this.username}}</span>
                        <span class="user-detail email">{{this.email}}</span>
                        <span class="user-detail user-discount">
                            {{#if this.document}}
                            <select class="eligibility-select" name="discountEligibility" data-user-id="{{this.id}}">
                                <option value="Pending" {{#if (eq this.discountEligibility "Pending")}}selected{{/if}}>Pending</option>
                                <option value="Yes" {{#if (eq this.discountEligibility "Yes")}}selected{{/if}}>Yes</option>
                                <option value="No" {{#if (eq this.discountEligibility "No")}}selected{{/if}}>No</option>
                            </select>
                            {{else}}
                            <select class="eligibility-select" data-user-id="{{this.id}}" disabled>
                                <option value="No" selected>No</option>
                            </select>
                            {{/if}}
                        </span>
                        <span class="user-detail">
                             {{#if this.document}}
                            {{#if (isImage this.document)}}
                            <a href="/uploads/{{this.document}}" target="_blank">
                                <img src="/uploads/{{this.document}}" alt="Document" class="document-thumbnail"></a>
                            {{else}}
                                <a href="/uploads/{{this.document}}" target="_blank">View Document</a>
                            {{/if}}
                        {{else}}
                        No Document
                        {{/if}}
                        </span>
                        <span class="user-detail user-actions">
                            <button class="btn btn-success update-btn" data-user-id="{{this.id}}" >Update</button>
                            <button class="btn btn-danger delete-btn" data-user-id="{{this.id}}">Delete</button>
                        </span>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <button class="btn btn-primary mb-3">Add New User</button>
        </article>
    </section>
